<div style ='text-align:center'>
    <h2>Search Results</h2>
</div> 
<div style="align-items: center;">
   
    <p-table #dt1 [value]="data" 
            dataKey="id"
            [rows]="25"
            [paginator]="true"
            [showCurrentPageReport]="true"            
            [loadingIcon]="loading"
            [loading]="loading"
            [showLoader] ="false"
            styleClass="p-datatable-sm"                   
            selectionMode="single" 
            responsiveLayout="scroll"
            [globalFilterFields]="['CLASX','DESC','PRMSTEDESC','MAPMS']"
            [(first)]="first">
        <ng-template pTemplate="caption">
            <div class="flex">                
                <span class="p-input-icon-left ml-auto"  style="display:inline;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" 
                        id ='tbsearch'
                        [(ngModel)]="tb1Value"
                        style="width:60%;"
                        (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                        placeholder="Search keyword" />
                </span>
                <button pButton label="Clear" 
                        class="p-button-outlined" 
                        icon="pi pi-filter-slash" 
                        (click)="clear(dt1)"
                        style="width:auto;margin-left:31%">
                </button>
            </div>
        </ng-template>
            
        <ng-template pTemplate="header">
            <!-- <tr>
                <th colspan="16"> 
                    <span class="pi pi-search" style="margin-left: 7px"></span>&nbsp;   
                    Additional Search Criteria
                </th>
            </tr> -->

            <!-- <tr>
                <th>                                                            
                    <p-columnFilter type="text" field="MAPMS" placeholder="Market Segment"></p-columnFilter>                    
                </th>
                <th  colspan="3">
                    <p-columnFilter type="text" field="PRMSTE" placeholder="State"></p-columnFilter>
                </th>
                <th colspan="3">
                    <p-columnFilter type="text" field="EFFDTE" placeholder="Effective Date"></p-columnFilter>
                </th>
                <th colspan="9"></th>
            </tr> -->

            <tr>
                <th colspan="16">
                    <p-fieldset legend="Additional Search Criteria" [toggleable]="false">
                        
                        <div class="flex">                
                            <span style="display:inline-flex; align-items: center; width: 68%;">
                                <p-columnFilter type="text" field="MAPMS" placeholder="Market Segment"></p-columnFilter>
                                <p-columnFilter type="text" field="PRMSTEDESC" placeholder="State"></p-columnFilter>
                                <p-columnFilter type="text" field="EFFDTE" placeholder="Effective Date"></p-columnFilter>                                
                            </span>
                            <div class="mb-3" style="float:right;">
                                <!-- -->
                                <p-button *ngIf="isFirstPage()" type="button" icon="pi pi-chevron-left"  [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
                                <p-button *ngIf="!isFirstPage()" type="button" icon="pi pi-chevron-left" (click)="prev()"  styleClass="p-button-text"></p-button>
                                <!-- -->
                                <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                                <!-- -->
                                <p-button *ngIf="isLastPage()" type="button" icon="pi pi-chevron-right" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
                                <p-button *ngIf="!isLastPage()" type="button" icon="pi pi-chevron-right" (click)="next()" styleClass="p-button-text"></p-button>
                            </div>
                        </div>
                                               
                    </p-fieldset>
                </th>
            </tr> 
            <tr>
                <th style="color:#8C2633">Business Class</th>
                <th style="text-align: center;color:#8C2633">State</th>
                <th style="text-align: center;color:#8C2633">SIC</th>
                <th style="text-align: center;color:#8C2633">ISO</th>                
                <th style="text-align: center;color:#8C2633">MKTSEG</th>
                <th style="text-align: center;color:#8C2633">EFFDTE</th>
                <th style="text-align: center;color:#8C2633">ENDDTE</th>
                <th style="text-align: center;color:#8C2633">BOP</th>
                <th style="text-align: center;color:#8C2633">CTR</th>
                <th style="text-align: center;color:#8C2633">GAR</th>
                <th style="text-align: center;color:#8C2633">PROP</th>
                <th style="text-align: center;color:#8C2633">GL</th>
                <th style="text-align: center;color:#8C2633">WC</th>
                <th style="text-align: center;color:#8C2633">AUTO</th>
                <th style="text-align: center;color:#8C2633">CUP</th>
                <th style="width:4rem;color:#8C2633">SELECT</th>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.DESC}}</td> 
                <!-- <td style="width:70px; text-align: center;">{{data.PRMSTE}}</td> -->
                <td style="width:70px; text-align: center;">{{data.PRMSTEDESC}}</td>
                <td style="width:70px; text-align: center;">{{data.SICCDE}}</td>
                <td style="width:70px; text-align: center;">{{data.CLASX}}</td> 
                <td style="width:70px; text-align: center;">{{data.MAPMS}}</td> 
                <td style="width:70px; text-align: center;">{{data.EFFDTE}}</td> 
                <td style="width:70px; text-align: center;">{{data.ENDDTE == 0? 'n.a.' : data.ENDDTE}}</td>
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.MAPDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> --> 
                    </div>
                    <div *ngIf='data.MAPDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.MAPDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.MAPDSR}} -->
                </td>
                <td style="width:50px; text-align: center;">
                    <div *ngIf='data.CTRDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.CTRDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.CTRDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.CTRDSR}} -->
                </td>
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.AUTDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.AUTDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.AUTDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.AUTDSR}} -->
                </td>                
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.PROPDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.PROPDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.PROPDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.PROPDSR}} -->
                </td>                
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.GLDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.GLDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.GLDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.GLDSR}} -->
                </td>
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.WCDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.WCDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.WCDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.WCDSR}} -->
                </td>
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.CAUTDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.CAUTDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.CAUTDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.CAUTDSR}} -->
                </td>
                <td style="width:50px;text-align: center;">
                    <div *ngIf='data.CUPDSR == "G"'>
                        <span class="pi pi-check-circle"></span>
                        <!-- <i class="pi-check-circle" ></i> -->
                    </div>
                    <div *ngIf='data.CUPDSR == "R"'>
                        <span class="pi pi-times-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <div *ngIf='data.CUPDSR == "Y"'>                        
                        <span class="pi pi-exclamation-circle"></span>
                        <!-- <i class="pi-check-circle"></i> -->
                    </div>
                    <!-- {{data.CUPDSR}} -->
                </td>
                <td>
                    <!-- <button style="text-align: center;" type="button" pButton pRipple icon="pi pi-eye" (click)="selectClass(data)"></button> -->
                    <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined" (click)="selectClass(data)"></button> -->
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text" style='color: #8C2633;' (click)="selectClass(data)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <pre style='height: 100%; overflow-y: scroll;'>
        {{data | json}}
    </pre> -->
    <p-toast key= 'key1' position="top-right"></p-toast>
</div>
<p-sidebar [(visible)]="display" 
        position="left" 
        [baseZIndex]="10000" 
        styleClass="p-sidebar-md"
        [showCloseIcon]="false">
        <h3>Table Class Data</h3>       
</p-sidebar>