.pi{
    font-size: 1.4em;
}
.pi-check-circle{
    color:green;
}
.pi-times-circle{
    color:red;
}
.pi-exclamation-circle{
    color:gold;
}
.th-color{
    color: #8C2633;
}
.p-datatable-header{
    color: #8C2633;
}