<div style ='text-align:center'>
    <h2>Search Results</h2>
  </div>
<div style="align-items: center;">
   
    <p-table #dt1 [value]="data" 
            dataKey="id"
            rows="35"
            [paginator]="true"
            [showCurrentPageReport]="true"
            [loading]="loading"
            styleClass="p-datatable-sm"           
            selectionMode="single" 
            responsiveLayout="scroll"
            [globalFilterFields]="['CLASX','DESC','PRMSTE']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" 
                        class="p-button-outlined" 
                        icon="pi pi-filter-slash" 
                        (click)="clear(dt1)"
                        style="width:auto;">
                </button>
                <span class="p-input-icon-left ml-auto" 
                      style="margin-left:73%; display:inline;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" 
                        style="width:auto;"
                        (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Business Class</th>
                <th>State</th>
                <th>SIC</th>
                <th>ISO</th>
                <th>MKTSEG</th>
                <th>EFFDTE</th>
                <th>ENDDTE</th>

                <th>BOP</th>
                <th>CTR</th>
                <th>GAR</th>
                <th>PROP</th>
                <th>GL</th>
                <th>WC</th>
                <th>AUTO</th>
                <th>CUP</th>
                <th style="width:4rem">SELECT</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.DESC}}</td>
                <td style="width:70px">{{data.PRMSTE}}</td>
                <td style="width:70px">{{data.SICCDE}}</td>
                <td style="width:70px">{{data.CLASX}}</td> 
                <td style="width:70px">{{data.MAPMS}}</td> 
                <td style="width:70px">{{data.EFFDTE}}</td> 
                <td style="width:70px">{{data.ENDDTE == 0? 'n.a.' : data.ENDDTE}}</td> 

                <td style="width:50px">
                    <!-- <div *ngIf='data.MAPDSR == "G"'>
                        <i class="pi-check-circle" style="font-size: 2rem"></i>
                    </div>
                    <div *ngIf='data.MAPDSR == "R"'>                        
                        <i class="pi-check-circle" style="font-size: 2rem"></i>
                    </div>
                    <div *ngIf='data.MAPDSR == "Y"'>
                        <i class="pi-check-circle" style="font-size: 2rem"></i>
                    </div> -->
                    {{data.MAPDSR}}
                </td>
                <td style="width:50px">{{data.CTRDSR}}</td>
                <td style="width:50px">{{data.AUTDSR}}</td>                
                <td style="width:50px">{{data.PROPDSR}}</td>                
                <td style="width:50px">{{data.GLDSR}}</td>
                <td style="width:50px">{{data.WCDSR}}</td>
                <td style="width:50px">{{data.CAUTDSR}}</td>
                <td style="width:50px">{{data.CUPDSR}}</td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-align-justify" (click)="selectClass(data)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <pre style='height: 100%; overflow-y: scroll;'>
        {{data | json}}
    </pre> -->
    <p-toast key= 'key1' position="top-right"></p-toast>
</div>